.testimonialContainer {
  height: 400px;
  margin-top: 90px;
  margin-bottom: 90px;
}

.testimonialHeader {
  margin-left: 85px;
}

.testimonialTextColor {
  color: #19d3ae;
}

.opinionContainer {
  display: flex;
  justify-content: center;
  margin-top: 33px;
  text-align: center;
}

.opinion {
  padding: 12px;
  margin-left: 34px;
  border-radius: 7px;
  box-shadow: 3px 4px 14px gray;
}

.patientIdentity {
  display: flex;
  align-items: center;
  margin-top: 18px;
}

.patientIdentity p img {
  margin-right: 12px;
}
